@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primaryColor:#253E5F;
    --secondaryColor:#929faf;
    --activeColor:#1890FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: rgba(250, 250, 250, 1);
}